version: '2'
services:
  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "3001:3001"
    volumes:
      - ./src:/home/btc-backend/src
      - ./node_modules:/home/btc-backend/node_modules
      - ./logs:/home/btc-backend/logs
      - ./bin:/home/btc-backend/bin
      - ./server.js:/home/btc-backend/server.js
    networks:
      - btc-network
networks:
  btc-network:
